<nav class="navbar navbar-expand-md bg-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- BRAND -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- TOGGLER -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV CONTENT -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- LEFT -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- RIGHT -->
      <div class="navbar-nav ms-auto align-items-center">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>

        <% if (!currUser) { %>
          <a class="nav-link fw-bold" href="/signup">Sign Up</a>
          <a class="nav-link fw-bold" href="/login">Login</a>
        <% } else { %>
          <a class="nav-link fw-bold" href="/logout">Logout</a>
        <% } %>
        <button
  id="themeToggle"
  class="btn btn-outline-secondary btn-sm ms-2"
  type="button"
>
  🌙
</button>

      </div>

    </div>
  </div>
</nav>
